
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #cccc;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.pagination a:hover {
    background: #eee;
}

.pagination li.activerPagination {
    background: #FFD11A;
    border-radius: 4px;
    color: #fff;
}

.active-button {
    color: #fc3c1a;
}

/* https://www.figma.com/design/uCq7QY5Nn2fWRoTbkLH1v6/AI-Blog-Website-UI-Template---Dark-Theme-%7C-Produce-UI-(Community)?node-id=126-1799&t=NbdG76zwgUvfkN4J-0 */